@page "/movie/create/{Id:int?}/{Token?}"

@using BlazorApp.Helpers
@using BlazorApp.Components
@using BlazorApp.Pages.Parts
@using Radzen

@inherits BlazorAppComponent

<Message MessageList=MessageList />
<Loading Show=Loading />

@if (DetailMode)
{
    <h2>詳細</h2>
}
else if (EditMode)
{
    <h2>編集</h2>
}
else
{
    <h2>新規作成</h2>
}

<div class="row">
    <div class="col-md-8">
        <EditForm EditContext="@FormEditContext" OnValidSubmit="@HandleUpdateValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="col-2 pb-3 col-h">
                    <label for="title">@MovieCreateForm.GetDisplayName(m => m.Title)</label>
                </div>
                <div class="col-10 pb-3 col-h">
                    <RadzenTextBox id="title" style="width:300px;" @bind-Value="MovieCreateForm.Title"
                    readonly="@DetailMode" @ref="HtmlTitle"
                    @onmouseover="@(args => ShowTooltip(HtmlTitle.Element, nameof(MovieCreateForm.Title)))"
                    @onmouseout="@(args => CloseTooltip())" />
                    <!-- <ValidationMessage For="() => MovieCreateForm.Title" /> -->
                    <!-- <InputText id="title" class="form-control" @bind-Value="MovieCreateForm.Title" readonly="@DetailMode" /> -->
                </div>
            </div>

            <div class="row">
                <div class="col-2 pb-3 col-h">
                    <label for="releaseDate">@MovieCreateForm.GetDisplayName(m => m.ReleaseDate)</label>
                </div>
                <div class="col-10 pb-3 col-h">
                    <RadzenDatePicker id="releaseDate" style="width:300px;" TValue="DateTime" @bind-Value="MovieCreateForm.ReleaseDate"
                     DateFormat="yyyy/MM/dd" readonly="@DetailMode" @ref="HtmlReleaseDate"
                     @onmouseover="@(args => ShowTooltip(HtmlReleaseDate.Element, nameof(MovieCreateForm.ReleaseDate)))"
                     @onmouseout="@(args => CloseTooltip())" />
                    <!-- <ValidationMessage For="() => MovieCreateForm.ReleaseDate" /> -->
                    <!-- <InputDate id="releaseDate" class="form-control" @bind-Value="MovieCreateForm.ReleaseDate" readonly="@DetailMode" /> -->
                </div>
            </div>

            <div class="row">
                <div class="col-2 pb-3 col-h">
                    <label for="genre">@MovieCreateForm.GetDisplayName(m => m.Genre)</label>
                </div>
                <div class="col-10 pb-3 col-h">
                    <RadzenTextBox id="genre" style="width:300px;" @bind-Value="MovieCreateForm.Genre"
                    readonly="@DetailMode" @ref="HtmlGenre"
                     @onmouseover="@(args => ShowTooltip(HtmlGenre.Element, nameof(MovieCreateForm.Genre)))"
                     @onmouseout="@(args => CloseTooltip())" />
                    <!-- <ValidationMessage For="() => MovieCreateForm.Genre" /> -->
                    <!-- <InputText id="genre" class="form-control" @bind-Value="MovieCreateForm.Genre" readonly="@DetailMode" /> -->
                </div>
            </div>

            <div class="row">
                <div class="col-2 pb-3 col-h">
                    <label for="price">@MovieCreateForm.GetDisplayName(m => m.Price)</label>
                </div>
                <div class="col-10 pb-3 col-h">
                    <RadzenNumeric id="price" style="width:300px;" ShowUpDown="false" TValue="decimal"
                     @bind-Value="MovieCreateForm.Price" readonly="@DetailMode" @ref="HtmlPrice"
                     @onmouseover="@(args => ShowTooltip(HtmlPrice.Element, nameof(MovieCreateForm.Price)))"
                     @onmouseout="@(args => CloseTooltip())" />
                    <!-- <ValidationMessage For="() => MovieCreateForm.Price" /> -->
                    <!-- <InputNumber id="price" class="form-control" @bind-Value="MovieCreateForm.Price" readonly="@DetailMode" /> -->
                </div>
            </div>

            <div class="row">
                <div class="col-2 pb-3 col-h">
                    <label for="rating">@MovieCreateForm.GetDisplayName(m => m.Rating)</label>
                </div>
                <div class="col-10 pb-3 col-h">
                    <RadzenRating id="rating" style="width:300px;" @bind-Value="MovieCreateForm.Rating"
                     Stars="5" ReadOnly="@DetailMode" @ref="HtmlRating"
                     @onmouseover="@(args => ShowTooltip(HtmlRating.Element, nameof(MovieCreateForm.Rating)))"
                     @onmouseout="@(args => CloseTooltip())" />
                    <!-- <ValidationMessage For="() => MovieCreateForm.Rating" /> -->
                    <!-- <InputNumber id="rating" class="form-control" @bind-Value="MovieCreateForm.Rating" readonly="@DetailMode" /> -->
                </div>
            </div>
            @if (!DetailMode)
            {
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <div class="float-right">
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="登録" Click=@(args => DialogService.Confirm("登録します。よろしいですか?", "確認", new ConfirmOptions() { OkButtonText = "はい", CancelButtonText = "いいえ" })) />
                            <input id="register" type="submit" value="登録" class="btn btn-primary" style="display: none;" />
                        </div>
                    </div>
                </div>
            }
        </EditForm>
    </div>
</div>

<div>
    <a href="/movie">一覧に戻る</a>
</div>